@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto&display=swap');

.oswald {font-family: 'Oswald', sans-serif !important;}
.roboto {font-family: 'Roboto', sans-serif !important;}
.red{color: #ff0000;}
.gray{color:#f7f7f7;}
.clear {clear: both;}

.logo-main{
	margin: 100px auto 10px auto;
	text-align: center;
}

h3.my-program-title{
	font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: normal !important;
    color: #000 !important;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.best-seller{
	background-color: #f7f7f7;
	width: 100%;
	padding: 40px 0px 20px 0px;
}

hr.my-program-divider {
    width: 6%;
    margin: -5px auto 35px auto;
    background-color: #5f5f5f;
 }

.program-content{
	margin-bottom: auto auto 20px auto;
	text-align: center;
}

.my-program-box {
	width: 218px;
	display: inline-block;
	/*margin-top: 150px;*/
	margin:0px 10px 30px 10px;
	border-radius: 5px;
	-webkit-box-shadow: 3px 4px 7px 0px rgba(0,0,0,0.34);
	-moz-box-shadow: 3px 4px 7px 0px rgba(0,0,0,0.34);
	box-shadow: 3px 4px 7px 0px rgba(0,0,0,0.34);
}

.owl-stage-outer{
	height: 300px !important;
	width: 90%;
	margin: auto;
}

.owl-item{
	width: 218px !important;
}


.owl-prev{
	background: url(img/arrow.png) no-repeat center !important;
	width: 40px;
	height: 75px;
	color: #fff !important;
	transform: rotate(180deg);
	position: absolute;
	top: 30%;
	left: 0;
	outline: none;
}


.owl-next{
	background: url(img/arrow.png) no-repeat center !important;
	width: 40px;
	height: 75px;
	color: #fff !important;
	position: absolute;
	top: 30%;
	right: 0;
	outline: none;
}


.best-selling-box{
	text-align: left;
	padding: 0px 10px;
	min-height: 65px;
}


.best-selling-title{float: left; width: 85%;}
.best-selling-info {float: right;}

a {
	color: #000;
}

h5 {
	font-size: 14px;
	padding: 10px 0px;
}

.thumb{
	width: 218px;
	border-radius: 5px 5px 0px 0px;
}

.thumb-modal{
	width: 218px;
	float: left; 
	margin-right: 10px;
}

.info-btn{
	width: 20px !important;
	height: 20px;
	cursor: pointer;
	margin-top: 10px;
}

.facilitator{
	margin: auto;
	text-align: center;
}

.figure{
		padding: 0px 20px;
}

.figure-caption{
	text-align: center;
	color: #000;
}


footer{
	background-color: #45c2bc;
	margin: auto;
}